@import 'styles/variables.module';

.footer {
	overflow: hidden;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
}

.contacts {
	display: flex;
	min-width: 400px;
	justify-content: space-between;
	margin: 30px 0;
}

.contact {
	font-family: $inter-font;
	font-size: 18px;
	line-height: 27px;

	&:hover {
		color: $primary-color;
	}
}

.socialNetworks {
	display: flex;
	min-width: 320px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.gradientPink {
	right: 100px;
	bottom: -100px;
	width: 200px;
	height: 100px;
	background: rgb(206 0 255 / 50%);
	filter: blur(115px);
	opacity: 0.8;
}

.gradientBlue {
	bottom: -100px;
	left: 400px;
	width: 300px;
	height: 200px;
	background: rgb(27 156 252 / 50%);
	filter: blur(150px);
	opacity: 0.8;
}

@media screen and (max-width: 768px) {
	.content {
		padding-top: 40px;
	}

	.contacts {
		flex-direction: column;
		align-items: center;
		margin: 15px 0;
	}
}
