@import 'styles/variables.module';

.services {
	padding: 50px $page-padding 100px calc($page-padding / 2);
}

.service {
	display: flex !important;
	height: 61px;
	align-items: center;
	margin-right: 100px;
}

.serviceImg {
	position: relative !important;
	height: auto !important;
	object-fit: none;
}

@media screen and (max-width: 768px) {
	.services {
		padding: 0 $page-mobile-padding;
	}

	.service {
		height: 80px;
		margin-right: 20px;
	}
}

@media (width >= $layout-width) {
	.service {
		height: 130px;
	}
}
