@import 'styles/variables.module';

.wrapper {
	.sidebar {
		position: fixed;
		z-index: 100;
		top: 0;
		bottom: 0;
		left: 0;
		overflow: auto;
		height: 100vh;
		padding-top: 35px;
		background: $white-color;
		transition: all 0.2s;
	}
}

.content {
	display: flex;
	height: 85%;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 40px;
	opacity: 0;
	transition: 0.2s;

	&.visible {
		overflow: auto;
		opacity: 1;
	}
}

@media (width <= 992px) {
	.content {
		margin-top: 0;
	}

	.overlay {
		position: absolute;
		z-index: 99;
		height: 100%;
		border: none;
		background: $black-color;
		inset: 0;
		opacity: 0.5;
	}
}
